:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type='radio'] {
    display: none;
}

header {
    color: white;
    background-color: hsl(200 50 50);
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-evenly;
}

.main.info {
    display: flex;
    justify-content: space-evenly;
}

.main.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.form {
    background-color: hsl(0 0 75);
    margin-top: 200px;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.radio {
    background-color: white;
    width: 20px;
    height: 20px;
}

.radio.checked {
    background-color: green;
}

.start,
.go {
    position: absolute;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    gap: 5px;
}

.cell {
    background-color: hsl(0 0 90);
    height: 45px;
}

.cell:hover {
    background-color: hsl(0 0 80);
    height: 45px;
}

.title {
    grid-column: 1 / 4;
}

.ships {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.ship {
    background-color: hsl(200 50 80);
    text-align: center;
}

.ship:hover {
    background-color: hsl(200 50 70);
    text-align: center;
}

.rotate {
    background-color: hsl(200 50 80);
}

.rotate:hover {
    background-color: hsl(200 50 70);
}

.cell.shot {
    border: 2px solid gray;
}

.cell.shot.hit {
    border-color: red;
}

.cell.placed:not(.hidden) {
    background-color: hsl(200 50 80);
}

.side:nth-of-type(2) {
    grid-column-start: 3;
}

.over {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}