:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

input[type='radio'] {
    display: none;
}

header {
    color: white;
    background-color: hsl(200 50 50);
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-evenly;
}

.main {
    background-color: hsl(0 0 100);
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.form {
    background-color: hsl(0 0 75);
    margin-top: 200px;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.radio {
    background-color: red;
    width: 20px;
    height: 20px;
}

.radio.selected {
    background-color: green;
}

.start {
    position: absolute;
}