:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=radio] {
    display: none;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.radio {
    background-color: red;
    width: 25px;
    height: 25px;
}

.radio.selected {
    background-color: green;
}

.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.title {
    grid-column: 1 / 4;
}

.go {
    align-self: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-auto-rows: 50px;
}